force-app/main/default/flows/test-11.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>addContactList</name>
        <label>addContactList</label>
        <locationX>125</locationX>
        <locationY>195</locationY>
        <assignmentItems>
            <assignToReference>conList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>con</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>contactLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>updateContact</name>
        <label>updateContact</label>
        <locationX>121</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>con.isChecked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addContactList</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>zero</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <interviewLabel>test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>test11</label>
    <loops>
        <name>contactLoop</name>
        <label>contactLoop</label>
        <locationX>405</locationX>
        <locationY>199</locationY>
        <assignNextValueToReference>con</assignNextValueToReference>
        <collectionReference>conList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>updateContact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateContactList</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>ContactList</name>
        <label>ContactList</label>
        <locationX>405</locationX>
        <locationY>60</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>contactLoop</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>conList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>isChecked__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>updateContactList</name>
        <label>updateContactList</label>
        <locationX>406</locationX>
        <locationY>438</locationY>
        <inputReference>conList</inputReference>
    </recordUpdates>
    <startElementReference>ContactList</startElementReference>
    <variables>
        <name>accId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>c</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>con</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>conList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>zero</elementReference>
        </value>
    </variables>
</Flow>
